body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #001f3f; /* Navy Blue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

.signup-box {
    background: #ffffff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.signup-box h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #001f3f;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    font-size: 14px;
    color: #001f3f;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.btn {
    width: 100%;
    background: #001f3f;
    color: white;
    border: none;
    padding: 12px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: #003366;
}

.signin-text {
    text-align: center;
    margin-top: 18px;
}

.signin-text a {
    color: #001f3f;
    font-weight: bold;
    text-decoration: none;
}

.signin-text a:hover {
    text-decoration: underline;
}
.exit i{
    position: relative;
    font-size: x-small;
    color: white;
}